.ajs-keyboard{
  display: flex;
}
.ajs-sharp {
  position: relative;
  height: 60px;
  background-color: black;
  width: 35px;
  top: 142px;
  z-index: 1;
}
.ajs-natural{
  position: relative;
  background-color: white;
  border: solid black 2px;
  width: 50px;
  height: 100px;
  top: 142px;
  left:0px;
}
